# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Soda / DuckDB
*.duckdb
*.duckdb.wal
.soda/
.scans/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
